		#logo_container{
			font-size:1.95em;
			text-decoration:none;
			color:mediumslateblue;
			z-index:0;
			top:-15px;
			left:15px;
		}	
		#logo{
			height:120px;
		}
		.display{
			display:none;
		}
		#table{
    		border: 3px solid white;
    		width: device-width;
    		vertical-align:text-top;
    		background-color:white;
    		border-spacing:10px;
		}
		.td{
	   		vertical-align:text-top;
	   		z-index:1;
			text-align:left; 
			padding-left:15px; 
			padding-right:14px;
			padding-top:15px;
			padding-bottom:15px;
			margin-bottom:10px;
			margin-right:2px;
			margin-left:2px;
			position:relative;
			display:inline-block;
			background-color:rgb(248,248,248);
		}

		#account{
			position:absolute;
			top:50px;
			right:15px;
			font-size:30px;
		}
		#header{
			background-color:mediumslateblue;
			width:100%;
			overflow:visible;
			height:75px;
		}
		.absolute{
			position:absolute;
		}
		#personal{
			background-color:white;
    		right:0px;
    		margin-right:10px;
    		position:absolute;
    		border-style:solid; 
    		border-width:3.5px;
    		border-color:lightgray;
    		box-shadow:20px 20px 50px black;
    		z-index:2;
		}
		.up-ri{
			position:absolute;
			top:20px;
			right:20px;
			padding-right:5px;
		}
		.fixed{
			position:fixed;
			margin-left:4.5px;
			margin-top:4.5px;
			margin-bottom:4.5px;
		}
		.arrow-down {
 			width: 0; 
  			height: 0; 
  			border-left: 8.5px solid transparent;
  			border-right: 8.5px solid transparent;
  			border-top: 10px solid black;
		}
		.inline-block{
			display:inline-block;
		}
		.inline{
			display:inline;
		}
		#personal_unit{
			font-size:1.95em;
			text-decoration:none;
			color:mediumslateblue;
			z-index:0;
		}
		#txt_Hint{
			left:220px;
			top:187px;
			position:absolute;
			width:75%
		}
		#side_bar{
			background-color:antiquewhite;
			width:20%;
			height:-webkit-fill-available;
			position:absolute;
			border:.1px solid black;
		} 
		.center{
			align:center;
		}
		.btn_group .btn{
			opacity:.35;
		}
		.btn {
    		border: none;
    		color: white;
    		padding: 15px 32px;
    		text-align: center;
    		text-decoration: none;
    		display: inline-block;
    		font-size: 16px;
    		background-color:gray;
		}
		.red{
			background-color:red;
		}
		.blue{
			background-color:blue;
		}